#vertLine {
    position:absolute; 
    background: green; 
    display:none; 
    z-index:2;
    width:5px;
}

#horLine {
    position:absolute; 
    background: green; 
    display:none; 
    z-index:2;
    height:5px;
}

#showCase{
    width:500px;
    height:500px;
    background:blue;
    cursor:none;
}